{% extends "base.html" %}
{% block content %}

  {% block static %}
    <script src="//code.jquery.com/color/jquery.color-2.1.2.min.js" type="text/javascript"></script>
  {% endblock %}

  <div class="success_message">{{ message }}</div>

  <form method="POST" action="." >
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="hidden" name="guest_of" value="{{ guest_of_id }} " />
    <input type="submit" value="Create" />
  </form>

  <a href="{{ done_url }}">Done scanning packages</a>

  {% if message != None %}
  <script type="text/javascript">
    $(document).ready(function(){
      $(".success_message").animate({
        backgroundColor: '#e8f7ed',
        color: '#1BA84E',
      }, 1000).delay(5000).animate({opacity: "0.0"});
    });
  </script>
  {% endif %}

{% endblock %}
