{% extends "base.html" %}
{% block classHome %}class="active"{% endblock %}
{% block content %}

<div id="main">
  <div id="left">
    <img id="features" src="/static/img/features.jpg" />
    <a href="{% url 'directory' %}" id="search" class="feature">Search<span></span></a>
    <a href="{% url 'menus.views.menus' %}" id="menus" class="feature">Menus<span></span></a>
    <a href="{% url 'personal.views.guestlist' %}" id="guestlist" class="feature">Guestlist<span></span></a>
    <a href="{% url 'nextbus.views.nextbus' %}" id="shuttles" class="feature">Shuttles<span></span></a>
    <a href="{% url 'personal.views.packages' %}" id="packages" class="feature">Packages<span></span></a>
    <a href="{% url 'laundry.views.laundry' %}" id="laundry" class="feature">Laundry<span></span></a>
  </div>
  <div id="right">
    <div id="welcome" class="info-box">
      <h1>Welcome to {{ site.name }}'s Dormbase</h1>

      <p>Dormbase is a web-based system that provides MIT
      dormitories with the tools and services they need for daily
      operation. It is an <a href="https://github.com/dormbase/dormbase">open source software project</a> that was
      started by a group of students from Simmons Hall in spring 2012.</p>

      <p><a href="https://github.com/jhurwitz/dormbase">This fork</a> of Dormbase is being developed by Jacob Hurwitz for 6.UAP, with the goal of getting Dormbase into a stable state so that we can start onboarding new contributors and developing new features.</p>

      <p>Dormbase is designed to be modular so that each dorm can pick which parts it wants, and designed to be easy to develop on so that small groups of developers at individual dorms can add custom functionality to their Dormbase installations.</p>

    </div>
  </div>
</div>
{% endblock %}
